<?php
namespace OAuth2_Client;

class Config
{
    const AuthorizationURL = '';
    const AccessTokenURL = '';
    const AccountDetailsURL = '';
    const RedirectURL = '';

    const ClientID = '';
    const ClientSecret = '';
    const Scope = '';
}

?>
